.card {
  width: 100%;
  padding: 0 30px;
  &:after { @include clearfix; }
}
.card__section { margin-bottom: 30px; }
.card__section--abt { border-top: 1px solid #dddddd; padding-top: 20px; }
.card__section--edt { border-top: 1px solid #dddddd; padding-top: 20px; }
.card__sidebar { width: 210px; float: left; }
.card__img { width: 100%; }

.card__body {
  width: calc(100% - 210px);
  float: right;
  padding-left: 40px;
}

@media (max-width: 720px) {
  .card__body    { padding-left: 30px };
}

@media (max-width: 719px) {
  .card__sidebar { width: 100%; }
  .card__body    { width: 100%; padding-left: 0; padding: 0; }
}
