.info-text {}

.info-text__item {
  display: block;
  margin-bottom: 12px;
  color: #4a4a4a;
  font-size: 14px;
  &:after { @include clearfix; }
}

.info-text__title {
  display: block;
  color: #989898;
  width: 125px;
  float: left;
}

.info-text__text { display: block; }
.info-text__link { color: #3498DB; }
