.logo { font-size: 16px; }
.logo--guest { margin-bottom: 10px; }
.logo--user  { margin-bottom: 10px; }

.logo__img { max-width: 294px; }
.logo__img--guest { width: 100%; margin-bottom: 30px; }
.logo__img--user  { width: 60%;  margin-bottom: 10px; }

.logo__text {
  font-family: "PFCentroSerifBold";
  display: block;
}

.logo__text--guest {
  color: #fff;
  margin-left: 30px;
  line-height: 0.5em;
}

.logo__text--big    { font-size: 4.5em; }
.logo__text--small1 { font-size: 2.9em; }
.logo__text--small2 { font-size: 3.14em; }

.logo__text--user {
  margin-left: 20px;
  width: 60%;
  font-size: 18px;
  color: #ffd800;
}

@media (max-width: 1199px) {.logo--guest { font-size: 15px; }}
@media (max-width: 1150px) {
  .logo--guest { font-size: 14px; }
  .logo__img--guest { margin-bottom: 40px; }
}
@media (max-width: 1070px) {.logo--guest { font-size: 13px; }}
@media (max-width: 1050px) {
  .logo__img--guest { margin-top: 10px; }
  .logo__text--guest { line-height: 0.7em;  }
}
@media (max-width: 1000px) {.logo--guest { font-size: 12px; }}
@media (max-width: 960px)  {
  .logo__text--guest { line-height: 0.7em;}
  .logo__img--user  { margin-bottom: 20px; }
}
@media (max-width: 930px)  {.logo--guest { font-size: 11px; }}
@media (max-width: 864px)  {
  .logo__text--guest { line-height: 0.8em;  }
  .logo__img--guest  { margin-bottom: 35px; }
}
@media (max-width: 830px)  {
  .logo--guest { font-size: 10px; }
  .logo__img--user  { margin-top: 15px; }
}
@media (max-width: 800px)  {
  .logo__text--guest { margin-left: 20px; }
  .logo__img--guest  { margin-bottom: 28px; }
}

@media (max-width: 768px)  {.logo__img--guest { margin-bottom: 20px;}}

@media (max-width: 640px)  {
  .logo--guest      { font-size:     4px;  }
  .logo__img--guest { margin-bottom: 10px; }
  .logo__text--user { margin-left:   10px; }
  .logo__img--user  { margin-bottom: 5px;  }
}
