.logo { font-size: 16px; margin-bottom: 10px; }

.logo__img { max-width: 294px; }
.logo__img--guest { width: 100%; margin-bottom: 10%; }
.logo__img--user  { width: 60%;  margin-bottom: 5%; }

.logo__text {
  font-family: "PFCentroSerifBold";
  display: block;
}

.logo__imgtxt-wrap { width: 100%; max-width: 294px; }

.logo__imgtxt {
  width: 88%;
  float: right;
}

.logo__text--user {
  margin-left: 20px;
  width: 60%;
  font-size: 18px;
  color: #ffd800;
}
