header {
  padding: 25px 0px 28px;
  background: url(bg-header.jpg) center 0px; position: relative;
  .languages {
    position: absolute;
    top: 15px;
    right: 292px;
    width: 60px;
    text-align: right;
    a {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      color: #ffffff;
      text-decoration: underline;
      margin-left: 7px;
      text-transform: uppercase;
      &:hover, &:active, &.active {
        text-decoration: none;
      }
    }
  }
  .wrap {
    .logo-block {
      width: 175px;
      float: left;
      .logo-header {
        width: 168px;
        height: 97px;
        display: block;
        margin: 0px 0px 21px -24px;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .logo-text {
        font-family: "PFCSProBold";
        font-size: 18px;
        color: #ffd800;
      }
    }
    .nav-block {
      width: 570px;
      float: left;
      margin-left: 140px;
      padding-top: 20px;
      .menu-head {
        margin-bottom: 25px;
        li {
          min-width: 118px;
          margin-bottom: 12px;
          &:nth-child(4n) {
            margin-left: 35px;
          }
          a {
            font-family: "PTSansRegular";
            font-size: 18px;
            color: #ffffff;
            border-bottom: 1px dashed #ffffff;
          }
        }
      }
    }
    .user-block {

    }
  }
}
header .wrap::after { clear: both; content: ""; display: table; }
header .wrap .nav-block .menu-head li a:hover { border-bottom: none; }
header .wrap .nav-block .search { width: 525px; position: relative; }
header .wrap .nav-block .search input[type="text"] { width: 100%; box-sizing: border-box; border: 1px solid #ffffff; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; background-color: transparent; height: 40px; font-family: "PTSansRegular"; font-size: 14px; color: #ffffff; padding: 0px 50px 0px 24px; }
header .wrap .nav-block .search .btn-search { display: block; width: 14px; height: 14px; position: absolute; top: 13px; right: 25px; }
header .wrap .user-block { float: right; min-width: 235px; padding-top: 16px; }
header .wrap .user-block .user { margin-bottom: 29px; }
header .wrap .user-block .user::after { clear: both; content: ""; display: table; }
header .wrap .user-block .user .img-user { display: block; width: 75px; height: 75px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; overflow: hidden; float: right; }
header .wrap .user-block .user .name-user { margin-top: 28px; font-family: "PTSansRegular"; font-size: 15px; color: #ffffff; display: inline-block; position: relative; }
header .wrap .user-block .user .name-user span { position: absolute; width: 9px; height: 5px; background: url(../images/arrow-user.png) no-repeat; top: 8px; right: -16px; }
header .wrap .user-block .basket-block { float: right; display: block; margin-right: 24px; }
header .wrap .user-block .basket-block .basket { width: 35px; height: 30px; display: block; position: relative; margin: 0 0 0 0; }
header .wrap .user-block .basket-block .basket .basket-num { width: 19px; height: 19px; background: #ffd800; font-family: "PTSansRegular"; font-size: 11px; line-height: 19px; position: absolute; top: -9px; right: -9px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; text-align: center; }
