.menu-settings {
  .wr-flex {
    width: 75%;
    margin:auto;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    .item {
      a {
        display: block;
        width: auto;
        padding: 5px 15px;
        line-height: 25px;
        border: 1px solid #ffffff;
        &:hover {
          color: #747474;
          background: #eaeaea;
          border: 1px solid #d0d0d0;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
        }
      }
    }
  }
}

 .ui-tabs-active {
   a {
     color: #747474;
     background: #eaeaea;
     border: 1px solid #d0d0d0;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 50px;
   }
 }

.user-photo {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 23px;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.user-content {
  .user-info-top {
    padding-bottom: 40px;
    margin-bottom: 34px;
    border-bottom: 1px solid #dddddd;
    position: relative;
    .title-info {
      margin-bottom: 7px;
      &:after { clear: both; content: ""; display: table; }
      li {
        float: left;
        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
        font-family: "PTSansBold";
        font-size: 11px;
        line-height: 24px;
        text-align: center;
        height: 25px;
        text-transform: uppercase;
      }
      .title-user {
        font-family: "PFCSProBold";
        font-size: 22px;
        margin-right: 15px;
        text-align: left;
        text-transform: capitalize;
        letter-spacing: 0.7px;
      }
      .pro { width: 48px; color: #4a4a4a; background: #eaeaea; margin-right: 9px; }
      .pro:active { background: #ffd800; }
      .club { width: 55px; color: #ffffff; background: #30a9de; margin-right: 11px; }
      .breeder { width: 74px; color: #ffffff; background: #f1404b; margin-right: 10px; }
      .check { width: 25px; background: #3ac569 url(ic-check.png) center no-repeat; }
    }
    .btn-block {
      &:after {clear: both; content: ""; display: table;}
    }
  }
  .about-me {
    margin-bottom: 32px;
    .title-one { margin-bottom: 16px;}
  }
}

.btn {
  width: 227px;
  height: 40px;
  font-size: 15px;
  color: #747474;
  line-height: 40px;
  background: #eaeaea;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin-right: 20px;
  text-align: center;
  a {
    line-height: 25px;
  }
  &:hover {
    color: #ffffff;
    background: #343434;
  }
}

div.upload {
  width: 157px;
  height: 57px;
  background: url(camera-icon.png) center no-repeat;
  background-size: contain;
  overflow: hidden;
}

.upload input {
  display: block !important;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}
