= content_for(:filter)
  .wave
  = form_tag '', method: :get, id: 'filter' do
    ul.filter
      li.filter__group
        .filter__item.filter__item--family
          = radio_button_tag(:by_family,
            Pet.families[:cat],
            params[:by_family]=="#{Pet.families[:cat]}",
            class: 'form__input-radio' )
          = label_tag("by_family_#{Pet.families[:cat]}", "", class: 'form__input-radio-label form__input-radio--cat')

          = radio_button_tag(:by_family,
            Pet.families[:dog],
            params[:by_family]=="#{Pet.families[:dog]}",
            class: 'form__input-radio')
          = label_tag("by_family_#{Pet.families[:dog]}", "", class: 'form__input-radio-label form__input-radio--dog')

        .form__item.filter__item--gender
          = radio_button_tag(:by_gender,
            Pet.genders[:male],
            params[:by_gender]=="#{Pet.genders[:male]}",
            class: 'form__input-radio' )
          = label_tag("by_gender_#{Pet.genders[:male]}", "", class: 'form__input-radio-label form__input-radio--male')

          = radio_button_tag(:by_gender,
            Pet.genders[:female],
            params[:by_gender]=="#{Pet.genders[:female]}",
            class: 'form__input-radio' )
          = label_tag("by_gender_#{Pet.genders[:female]}", "", class: 'form__input-radio-label form__input-radio--female')
      li.filter__group
        .filter__select-wrap
          = fa_icon 'angle-down', class: 'filter__select-down'
          = select(nil, :by_country,
            Country.have_pets.distinct.map {|l| [ "#{l.title}", l.id ] },
            { selected: params[:by_country], prompt: t('Select country') },
            { class: 'filter__select' } )
        .filter__select-wrap
          = fa_icon 'angle-down', class: 'filter__select-down'
          = select(nil, :by_region,
            Region.have_pets.distinct.map {|l| [ "#{l.title}", l.id ] },
            { selected: params[:by_region], prompt: t('Select region')},
            { class: 'filter__select' } )
        .filter__select-wrap
          = fa_icon 'angle-down', class: 'filter__select-down'
          = select(nil, :by_city,
            City.have_pets.distinct.map {|l| [ "#{l.title}", l.id ] },
            { selected: params[:by_city], prompt: t('Select city') },
            { class: 'filter__select' }  )
      - if @kind != 'goodhands'
        li.filter__group
          p
            label =t('Price range')+':   '
            input type="text" id="price_start" name='by_price[started_at]' class='filter__price  filter__price--start'
            = "  \u223b   "
            input type="text" id="price_end" name='by_price[ended_at]' class='filter__price filter__price--end'

          #slider-range

      li.filter__group
        = submit_tag t('Apply'), name: '', class: 'button button--filter', id: 'apply'
        = submit_tag t('Reset'), name: '', class: 'button button--filter', id: 'reset'

coffee:
  $ ->
    new app.PetFilter
    $('#filter').submit ->
      if $(document.activeElement).prop('id') == 'reset'
        $('input[name="by_family"]').val(null)
        $('input[name="by_gender"]').val(null)
        $('#_by_country').prop('selectedIndex',-1)
        $('#_by_region').prop('selectedIndex',-1)
        $('#_by_city').prop('selectedIndex',-1)
        $('#price_start').val 500
        $('#price_end').val 50000
      return

    s = location.toString()

    i = s.indexOf('by_price%5Bstarted_at%5D=')
    price_start = if i>0 && i+25<s.length then parseInt(s.substring(i+25)) else 500
    price_sart = if Number.isInteger(price_start) then price_end else 500

    i = s.indexOf('by_price%5Bended_at%5D=')
    price_end = if i>0 && i+23<s.length then parseInt(s.substring(i+23)) else 50000
    price_end = if Number.isInteger(price_end) then price_end else 50000

    $('#price_start').val price_start
    $('#price_end').val price_end
    $('#slider-range').slider
      range: true
      min: 0
      max: 60000
      values: [
        price_start
        price_end
      ]
      slide: (event, ui) ->
        $('#price_start').val ui.values[0]
        $('#price_end').val ui.values[1]
        return
    $('#amount').val '$' + $('#slider-range').slider('values', 0) + ' - $' + $('#slider-range').slider('values', 1)
    return
