.advert_brief {}

.advert_brief__locality {
  display: inline-block;
  color: #343434;
  font-family: "PTSansBold";
  font-size: 12px;
  text-transform: uppercase;
}

.advert_brief__type {
  font-weight: bold;
  margin-left: 4px;
}
.advert_brief__price {
  font-family: "PFCentroSerifBold";
  color: #E74C3C;
  font-size: 36px;
}
.advert_brief__currency {
  color: #E74C3C;
  font-size: 30px;
  margin-left: 8px;
}
