.button {
  background-color: #ffd800;
  @include border-radius(50px);
  padding: 10px 30px;
  color: #343434;
  cursor: pointer;
  font-family: "PTSansBold";
  font-size: 12px;
  text-transform: uppercase;
  &:hover {
    background-color: #343434;
    color: #fff;
  }
}

.button__second { margin-left: 15px; }

.button--back {
  display: block;
  width: 80px;
  color: #777;
  background-color: #fff;
  border: 1px solid #777;
  padding: 4px 30px;
  margin-bottom: 8px;
  float: right;
}

.button--filter {
  display: block;
  border: 2px solid #343434;
  width: 132px;
  margin-bottom: 16px;
}
